:root {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --accent-color: #00e5ff;
}

body.light-theme {
    --bg-color: #ffffff;
    --text-color: #121212;
    --accent-color: #007acc;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

header {
    position: relative;
    padding: 2rem;
    text-align: center;
}

#theme-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}

section {
    padding: 2rem;
    text-align: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.project-card {
    border: 1px solid var(--accent-color);
    padding: 2rem;
    border-radius: 8px;
}
